<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Power Blog</display-name>
  <context-param>
    <param-name>jdbcDriverName</param-name>
    <param-value> com.mysql.jdbc.Driver </param-value>
  </context-param>
  <context-param>
    <param-name>jdbcURL</param-name>
    <param-value> jdbc:mysql:///test?useSSL=false </param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>Login</welcome-file>
  </welcome-file-list>
</web-app>